@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
        padding: 0;
        border: 0;
        outline: 0;
        box-sizing: border-box;
        margin: 0;
} 

:root{
        --light-color:#DDE6ED;
        --mid-color:#9DB2BF;
        --semi-mid:#526D82;
        --thick-color:#27374D;
}

body{
        background:var(--light-color);
}

header{
        padding: 1rem;
        font-family: 'Poppins', sans-serif;
}

header div{
        text-align: center;
        color: var(--thick-color);
}